<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SmppSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SmppSimulator.Properties.Settings>
      <setting name="ViewLogFile" serializeAs="String">
        <value />
      </setting>
      <setting name="ModelLogFile" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkerLogFile" serializeAs="String">
        <value />
      </setting>
      <setting name="LastReference" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IpVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AuthRequired" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SystemId" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="PduLogEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerLogEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SessionLogEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerLog" serializeAs="String">
        <value />
      </setting>
      <setting name="SessionLog" serializeAs="String">
        <value />
      </setting>
      <setting name="GeneratePerMinute" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RandomOrder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Echo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MessageErrorRates" serializeAs="String">
        <value />
      </setting>
      <setting name="DeliveryErrorRates" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoMessageFile" serializeAs="String">
        <value />
      </setting>
      <setting name="KeepMessages" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PduTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="EnquireInterval" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="UseGsmEncoding" serializeAs="String">
        <value>-6</value>
      </setting>
      <setting name="MultipartMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DeliverMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CertificateStore" serializeAs="String">
        <value>2</value>
      </setting>
    </SmppSimulator.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
